
<div class="biroslideshow_slide">
    {% for product in collections['camiseta'].products %}
       <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | img_url: '95x95', scale: 2 }}"></a> 
    {% endfor %}
</div>