@charset 'UTF-8';

@import url('./header.scss');
@import url('./old-theme.scss');
@import url('./password.scss');
@import url('./product.scss');
@import url('./search.scss');
@import url('./slideshowby.scss');
@import url('./swatch.scss');
@import url('./tree-rows-section.scss');
@import url('./flickkity.css');
@import url('./collectionShelf.css');

//vendors

@import url('./slick.scss');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
    
@media(max-width: 768px) {
    .productImage {
        margin-top: 50px;
    }
}