<div class="passwordBox" id="Login">
  <div class="box">
    {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        
          <label for="password">Senha</label>
          <div class="box2">
            <input type="password"
                name="password"
                id="Password"
                placeholder="digite sua senha">
            <button type="submit" name="commit">
                Enviar
            </button>
          </div>
        
    {% endform %}
  </div>
</div>