<div id="Login">
  <div class="passwordBox">
    {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        
          <label for="password"><strong>Login</strong></label>
          <div class="box">
            <input type="password"
                name="password"
                id="Password"
                placeholder="digite sua senha">
            <button class="passwordButton" type="submit" name="commit">
                Enviar
            </button>
          </div>
        
    {% endform %}
  </div>
</div>